<h1>
  <form action=<%=session_url %> method="post">
    <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
    <label for="name">UserName:</label>
    <input type="text" name=user[user_name] id = "name">
    <br>
    <label for="pass">Password:</label>
    <input type="password" name=user[password] id = "pass">
    <br>
    <input type="submit" value="Login">
</h1>
