<h1>
<table>
  <% attributes = [@cat.name, @cat.birth_date,@cat.age.to_i,@cat.color, @cat.sex, @cat.description] %>
  <% descriptions = ["Name:", "Birth Date:", "Age:", "Color:", "Sex:", "Description:"] %>
  <% attributes.each_index do |num| %>
  <tr>
    <td><%= descriptions[num] %></td>
    <td><%= attributes[num] %></td>
  </tr>
  <% end %>
</table>
</h1>
